<mat-paginator [length]="items.length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageEvent = $event; getPagedItems()">
</mat-paginator>
<div class="cards" fxLayout="row wrap" fxLayoutAlign="center start" fxLayoutGap="2rem">
    <mat-card fxLayout="column" fxLayoutAlign="center center" *ngFor="let item of pagedItems">
        <mat-card-content [attr.id]="'item-content-' + item.id" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
            <img mat-card-image [src]="'../../../' + item.imageSrc" alt="Photo of a Shiba Inu">
            <h2>{{ item.name }}</h2>
            <h3>{{ selectedSeatPrice[0] !== null && selectedSeatPrice[1] === 'item-content-' + item.id ? formatToTwoDecimal(selectedSeatPrice[0]) + ' rsd' : 'Select the seat plan' }}</h3>
            <p-rating [stars]="5" iconCancelClass="pi pi-times" [ngModel]="getRating(item)" [readonly]="true"
                [cancel]="false" />
        <div fxLayout="row">
            <mat-button-toggle-group name="size" aria-label="Font Style">
                <mat-button-toggle (click)="updateSelectedSeatPrice($event, item, seat)" *ngFor="let seat of item.seats" [value]="seat">
                  {{ seat }}
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        </mat-card-content>
        <mat-card-actions fxLayout="row" fxLayoutAlign="space-between">
            <button mat-button (click)="openDetails(item)"> <mat-icon class ="icon">document_scanner</mat-icon></button>
            <button mat-button (click)="openComments(item)"><mat-icon class="icon">more_vert</mat-icon></button>
            <button (click)="PassCartData(item)" mat-button><mat-icon class="icon">add_shopping_cart</mat-icon></button>
        </mat-card-actions>
    </mat-card>
</div>