<section fxLayout="column" fxLayoutAlign="center center">
    <mat-card *ngIf="this.orders == null || this.orders.length == 0 || this.orders == undefined ">
        <mat-card-header>

        </mat-card-header>
        <mat-card-content fxLayoutAlign="center center">
            <h2>No orders that arrived</h2>
        </mat-card-content>
    </mat-card>
    <div class="listOfCarts" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1rem" *ngIf="this.orders != null && this.orders.length != 0 &&  this.orders != undefined">
        <h2>Your orders that arrived</h2>
        <mat-card fxLayout="column" fxLayoutAlign="center center" *ngFor="let order of this.orders">
            <mat-card-header>
                
            </mat-card-header>
            <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1rem">
                <mat-card class="ItemCard" fxLayout="row wrap" fxLayoutAlign="space-between" fxLayoutGap="1rem" [id]="i"
                    *ngFor="let item of order.list; let i = index">
                    <mat-card-content fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1rem">
                        <img mat-card-image [src]="'../../../../' + item.item.imageSrc" [alt]="item.item.name">
                        <h3>{{ item.item.name }}</h3>
                        <h3>Seat: {{ item.seat }}</h3>
                        <h3>Quantity: {{ item.quantity }}</h3>
                        <h3>Price: {{ formatToTwoDecimal(item.price * item.quantity) }} rsd</h3>
                        <mat-expansion-panel hideToggle>
                            <mat-expansion-panel-header>
                              <mat-panel-title>
                                Rate the item
                              </mat-panel-title>
                            </mat-expansion-panel-header>
                            <form #rate="ngForm" (ngSubmit)="onSubmit(rate, item)">
                                    <p-rating ngModel matInput name="starRating" #starRating="ngModel" [stars]="5" iconCancelClass="pi pi-times" [readonly]="false" [cancel]="true" />
                                <mat-form-field>
                                    <mat-label>Comment</mat-label>
                                    <textarea matInput matInput  name="comment" ngModel #comment="ngModel"></textarea>
                                </mat-form-field>
                                <button type="submit" mat-raised-button color="warn">submit</button>
                            </form>
                          </mat-expansion-panel>
                    </mat-card-content>
                </mat-card>
                <h3>Total price: {{ formatToTwoDecimal(fullPriceCart(order)) }} rsd</h3>
            </mat-card-content>
        </mat-card>
    </div>

</section>
