section{
    margin-top:7rem;
    margin-bottom: 7rem;
}

.listOfCarts{
    width:70%;
    background-color: rgb(46, 45, 45);
}
.listOfCarts>mat-card{
    width:95%;
    margin-bottom: 1rem;
}

img{
    width: 10rem;
}

.listOfCarts>mat-card>mat-card-content, .listOfCarts>mat-card>mat-card-content>mat-card>mat-card-content{
    padding: 1rem;
    width:90%;
}

.listOfCarts>mat-card>mat-card-content>mat-card{
    width:100%;
}

.ItemCard{
    background-color: rgb(58, 57, 57);
}